<%- layout('layouts/main') %>

<div class="col-md-4 offset-md-4">
  <div class="card text-center mt-4">
    <div class="card-body">
      <h1 class="card-title h5">Nodejs Instagram App</h1>  
      <img src="/img/instagram.png" style="width: 20%;"/>
      <a href="/login" class="btn btn-primary btn-block mt-4">
        Login with Instagram
      </a>
    </div>
  </div>
</div>