<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Instagram Node App</title>
  <!-- BOOTSTRAP- SKETCHY BOOTSWATCH THEME -->
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- ANIMATE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<body>

  <!-- NAVIGATION CONTENT -->
  <%- partial('partials/navigation') %>

  <!-- MAIN CONTENT -->
  <div class="container">
    <%- body %>
  </div>

</body>
</html>